[common]
always_keep_current_frame=true
auto_load_last_script=true
bicubic_filter_parameter_b=0
bicubic_filter_parameter_c=0.5
characters_typed_to_start_completion=2
chroma_placement=0
chroma_resampling_filter=2
color_picker_visible=false
crop_mode=1
crop_zoom_ratio=1
dark_mode=false
dither_type=3
highlight_selection_matches=true
highlight_selection_matches_min_length=2
job_server_watcher_geometry="@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\0\"\0\0\0\x39\0\0\x4\x18\0\0\x3,\0\0\0\"\0\0\0\x39\0\0\x4\x18\0\0\x3,\0\0\0\0\0\0\0\0\xf\0\0\0\0\"\0\0\0\x39\0\0\x4\x18\0\0\x3,)"
jobs_header_state=@ByteArray(\0\0\0\xff\0\0\0\0\0\0\0\x1\0\0\0\x1\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\x3 \0\0\0\b\x1\x1\0\0\0\0\0\0\0\0\0\0\0\0\0\0\x64\xff\xff\xff\xff\0\0\0\x84\0\0\0\0\0\0\0\b\0\0\0\x64\0\0\0\x1\0\0\0\0\0\0\0\x64\0\0\0\x1\0\0\0\0\0\0\0\x64\0\0\0\x1\0\0\0\0\0\0\0\x64\0\0\0\x1\0\0\0\0\0\0\0\x64\0\0\0\x1\0\0\0\0\0\0\0\x64\0\0\0\x1\0\0\0\0\0\0\0\x64\0\0\0\x1\0\0\0\0\0\0\0\x64\0\0\0\x1\0\0\0\0\0\0\x3\xe8\0\0\0\0\0\0\0\0\0)
lanczos_filter_taps=3
last_preview_frame=282
last_preview_timestamp=4704
last_snapshot_extension=png
main_window_geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\x3\xf\0\0\x1\b\0\0\x6]\0\0\x3\xd8\0\0\x3\xf\0\0\x1\b\0\0\x6]\0\0\x3\xd8\0\0\0\0\0\0\0\0\xf\0\0\0\x3\xf\0\0\x1\b\0\0\x6]\0\0\x3\xd8)
main_window_maximized=false
max_recent_files_number=10
period_reload_from_disk=false
play_fps_limit=23.976
play_fps_limit_mode=2
png_compression_level=0
prefer_vs_libs_from_list=false
preview_dialog_maximized=false
prewiew_dialog_geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\0\0\0\0\0\0\0\0\x5\xb2\0\0\x3\xa0\0\0\0\0\0\0\0\0\0\0\x5\xb2\0\0\x3\xa0\0\0\0\0\0\0\0\0\xf\0\0\0\0\0\0\0\0\0\0\0\x5\xb2\0\0\x3\xa0)
prompt_to_save_changes=true
recent_files_list=
reload_before_execution=false
remember_last_preview_frame=true
scale_mode=1
show_debug_messages=false
silent_snapshot=false
snapshot_template=/workspace/vapoursynth/output/{n}-{i}-{o}.png
spaces_in_tab=4
sync_output_node_mode=0
timeline_mode=0
use_spaces_as_tab=true
vapoursynth_library_paths=@Invalid()
vapoursynth_plugins_paths=@Invalid()
yuv_matrix_coefficients=0
zoom_mode=1
zoom_ratio=4

[hotkeys]
about=
advanced_preview_settings=
autocomplete=Ctrl+Space
benchmark=F7
check_script=F6
cli_encode=F8
comment_selection=Ctrl+Shift+C
duplicate_selection=Ctrl+D
enqueue_encode_job=F9
exit=Ctrl+Q
frame_to_clipboard=X
jobs=F10
jump_to_frame=J
move_text_block_down=Ctrl+Shift+Down
move_text_block_up=Ctrl+Shift+Up
new_script=Ctrl+N
open_script=Ctrl+O
paste_crop_snippet_into_script=
paste_shown_frame_number_into_script=
play=
preview=F5
replace_tab_with_spaces=
save_script=Ctrl+S
save_script_as=
save_snapshot=S
set_timeline_mode_frames=
set_timeline_mode_time=
set_trusted_clients_addresses=
set_zoom_mode_fit_to_frame=Alt+3
set_zoom_mode_fixed_ratio=Alt+2
set_zoom_mode_no_zoom=Alt+1
set_zoom_scale_mode_bilinear=
set_zoom_scale_mode_nearest=
settings=
shutdown_server_and_exit=
switch_to_next_output_index=
switch_to_output_index_0=0
switch_to_output_index_1=1
switch_to_output_index_10=
switch_to_output_index_11=
switch_to_output_index_12=
switch_to_output_index_13=
switch_to_output_index_14=
switch_to_output_index_15=
switch_to_output_index_16=
switch_to_output_index_17=
switch_to_output_index_18=
switch_to_output_index_19=
switch_to_output_index_2=2
switch_to_output_index_3=3
switch_to_output_index_4=4
switch_to_output_index_5=5
switch_to_output_index_6=6
switch_to_output_index_7=7
switch_to_output_index_8=8
switch_to_output_index_9=9
switch_to_previous_output_index=
templates=
time_step_back=Ctrl+Shift+Left
time_step_forward=Ctrl+Shift+Right
timeline_bookmark_current_frame=Ctrl+B
timeline_clear_bookmarks=
timeline_go_to_next_bookmark=Ctrl+Right
timeline_go_to_previous_bookmark=Ctrl+Left
timeline_load_chapters=
timeline_unbookmark_current_frame=Ctrl+U
toggle_color_picker=
toggle_comment=Ctrl+/
toggle_crop_panel=C
toggle_frame_props_panel=P
toggle_timeline_panel=T
toggle_zoom_panel=Z
uncomment_selection=Ctrl+Shift+X

[theme]
common_script_text=@ByteArray(\0\0\0\x2\0\0\0\x14\0\0\b!\0\0\x10\x2\0\x1\x1\xff\xff//////\0\0?\xf0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0?\xf0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0?\xf0\0\0\0\0\0\0\0\0\x1f\xe0\0\0\0\x2\0\0\0\0\0\0\0\x1f\xe1\0\0\0\x6\0\0\0\0\0\0\0\0\0\0\0\x1f\xe2\0\0\0\x6\0\0\0\0\0\0\0\0\0\0\0\x1f\xe3\0\0\0\x2\0\0\0\0\x5\0\0\x1f\xe4\0\0\0\x2\0\0\0\0\x1\0\0\x1f\xe5\0\0\0\x1\0\0\0\0\x1f\xe6\0\0\0\x2\0\0\0\0\0\0\0\x1f\xe7\0\0\0\v\0\0\0\0\x1\0\0\0\x12\0M\0o\0n\0o\0s\0p\0\x61\0\x63\0\x65\0\0\x1f\xe8\0\0\0\n\0\xff\xff\xff\xff\0\0\x1f\xe9\0\0\0\x2\0\0\0\0\0\0\0\x1f\xea\0\0\0\x2\0\0\0\0\0\0\0 \x1\0\0\0\x6\0@\"\0\0\0\0\0\0\0\0 \x3\0\0\0\x2\0\0\0\x1\x90\0\0 \x4\0\0\0\x1\0\0\0\0 \x5\0\0\0\x1\0\0\0\0 \x6\0\0\0\x1\0\0\0\0 \a\0\0\0\x1\0\0\0\0 \b\0\0\0\x1\0\0\0\0 #\0\0\0\x2\0\0\0\0\0)
